.footer {
  border-top: 1px solid $gray-200;
  padding: 1.125rem 0;
}

.footer ul {
  margin-bottom: 0;
}

.footer li {
  font-size: $font-size-text;
  margin-bottom: 0;
}

@include media-breakpoint-up(md) {
  .footer li {
    font-size: $font-size-text;
  }
}
