.note {
  font-family: $font-secondary;
  font-size: $font-size-text;
  border-radius: 6px;
  padding: 1rem 1.5rem;
  width: 90%;
}

.note-warning {
  background-color: $algarrobo-green-primary-transparent;
  color: $white;
}

.note-icon {
  margin: 0 0.75rem 0.75rem 0;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.icon-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-supertitle;
  margin: 0;
}

.docs .note {
  margin: 2rem -1.5rem;
}
