.tip {
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
}

.tip-icon {
  margin-right: 0.75rem;
}

.docs .tip {
  margin: 2rem -1.5rem;
}

.tip .tip-link {
  text-decoration: underline;
}

.tip-dark {
  color: $white;
  background-color: $black;
}

.tip-dark .tip-link {
  color: $white;
}

.tip-light {
  color: $black;
}

.tip-warning {
  background: $red;
  color: $white;
}

/*
.tip-light {
  color: #215888;
  background: linear-gradient(-45deg, rgb(212, 245, 255), rgb(234, 250, 255), rgb(234, 250, 255), #d3f6ef);
}

.tip-light .tip-link {
  color: #215888;
}
*/

.tip-white {
  background-color: rgba(255, 255, 255, 0.95);
}

.tip-primary {
  color: $green;
  background-color: $primary;
}

.tip-primary .tip-link {
  color: $green;
}

.tip .tip-link:hover,
.tip .tip-link:focus {
  text-decoration: none;
}
