.alert {
  font-family: $font-secondary;
  font-size: $font-size-text;
  border-radius: 6px;
}

.alert-icon {
  margin: 0 0.75rem 0.75rem 0;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.icon-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-title;
}

.docs .alert {
  margin: 2rem -1.5rem;
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-dark {
  color: $white;
  background-color: $light-blue;
}

.alert-dark .alert-link {
  color: $white;
}

.alert-light {
  color: $black;
}

.alert-warning {
  background-color: $algarrobo-yellow;
  color: $white;
}

.alert-success {
  color: $white;
}

/*
.alert-light {
  color: #215888;
  background: linear-gradient(-45deg, rgb(212, 245, 255), rgb(234, 250, 255), rgb(234, 250, 255), #d3f6ef);
}

.alert-light .alert-link {
  color: #215888;
}
*/

.alert-white {
  background-color: rgba(255, 255, 255, 0.95);
}

.alert-primary {
  color: $white;
  background-color: $algarrobo-green-primary;
}

.alert-primary .alert-link {
  color: $white;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}
