{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="mainHeader">
      <h1 class="mainHeader__title">{{ .Title }}</h1>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="homeContainer">
      <button class="homeContainer__card" onclick="location.href='docs/epagos/introduction/'">
        <h2 class="h4">Pago electrónico</h2>
        <p>Pago electrónico, vieja!</p>
        <p><a href="docs/epagos/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/gestion-ingresos/introduction/'">
        <h2 class="h4">Gestión de ingresos</h2>
        <p>Gestión de ingresos, vieja!</p>
        <p><a href="docs/gestion-ingresos/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/admision/introduccion'">
        <h2 class="h4">Admisión</h2>
        <p>Admisión, vieja!</p>
        <p><a href="docs/admision/introduccion">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/planificacion/introduction'">
        <h2 class="h4">Planificación</h2>
        <p>Planificación, vieja!</p>
        <p><a href="docs/planificacion/introduction">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/examenes/introduction/'">
        <h2 class="h4">Exámenes</h2>
        <p>Exámenes, vieja!</p>
        <p><a href="docs/examenes/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/portal-alumno/introduction/'">
        <h2 class="h4">Portal Alumno (escritorio)</h2>
        <p>Portal Alumno (escritorio), vieja!</p>
        <p><a href="docs/portal-alumno/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/revenue-management/introduction/'">
        <h2 class="h4">Portal Alumno (Móvil)</h2>
        <p>Portal Alumno (Móvil), vieja!</p>
        <p><a href="docs/revenue-management/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/oferta-academica/introduction/'">
        <h2 class="h4">Oferta Académica</h2>
        <p>Oferta Académica, vieja!</p>
        <p><a href="docs/oferta-academica/introduction/">Ver más...</a></p>
      </button>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
