{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="mainHeader">
      <h1 class="mainHeader__title">{{ .Title }}</h1>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="homeContainer">
      <button class="homeContainer__card" onclick="location.href='docs/epagos/introduction/'">
        <h2 class="h4">Pago electrónico</h2>
        <p>Realiza tus pagos de la manera más sencilla</p>
        <p><a href="docs/epagos/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/gestion-ingresos/introduction/'">
        <h2 class="h4">Gestión de ingresos</h2>
        <p>Configura tus promociones, medios de pagos y becas</p>
        <p><a href="docs/gestion-ingresos/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/admision/introduccion'">
        <h2 class="h4">Admisión</h2>
        <p>Gestiona la admisión de los estudiantes</p>
        <p><a href="docs/admision/introduccion">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/planificacion/introduction'">
        <h2 class="h4">Planificación</h2>
        <p>Gestiona las cátedras y mesas de exámenes</p>
        <p><a href="docs/planificacion/introduction">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/examenes/introduction/'">
        <h2 class="h4">Exámenes</h2>
        <p>Configura y gestiona los exámenes</p>
        <p><a href="docs/examenes/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/portal-alumno-escritorio/introduction/'">
        <h2 class="h4">Portal de estudiantes (escritorio)</h2>
        <p>Haz la vida académica de tus estudiantes más fácil</p>
        <p><a href="docs/portal-alumno-escritorio/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/portal-alumno-movil/introduction/'">
        <h2 class="h4">Portal de estudiantes (Móvil)</h2>
        <p>Disfruta de una aplicación desde dónde puedas gestionar todo</p>
        <p><a href="docs/portal-alumno-movil/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/oferta-academica/introduction/'">
        <h2 class="h4">Oferta académica</h2>
        <p>Gestiona paquetes, clases de estudio, carreras y sedes ágilmente</p>
        <p><a href="docs/oferta-academica/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/registro-asistencia/introduction/'">
        <h2 class="h4">Registro de Asistencia</h2>
        <p>Registra tu asistencia a un módulo de clase al escanear un código QR</p>
        <p><a href="docs/registro-asistencia/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/admision-masiva/introduction/'">
        <h2 class="h4">Admisión Masiva</h2>
        <p>Gestiona Admisiones y Pre admisiones de los estudiantes por lotes</p>
        <p><a href="docs/admision-masiva/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/gestion-edilicia/introduction/'">
        <h2 class="h4">Gestión Edilicia</h2>
        <p>Administra y ten un mayor control de los edificios y aulas de la universidad</p>
        <p><a href="docs/gestion-edilicia/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/administrador-carreras/introduction/'">
        <h2 class="h4">Administrador de Carreras</h2>
        <p>Crea carreras nuevas y visualiza o edita tanto de estas como las carreras existentes</p>
        <p><a href="docs/administrador-carreras/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/equivalencias/introduction/'">
        <h2 class="h4">Equivalencias</h2>
        <p>Solicita la acreditación de equivalencias. Registra, revisa y otorga equivalencias</p>
        <p><a href="docs/equivalencias/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/carga-de-notas/introduction/'">
        <h2 class="h4">Carga de Notas</h2>
        <p>Carga las notas que los estudiantes obtuvieron en los TFGs y actividades de sus materias</p>
        <p><a href="docs/carga-de-notas/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/sis-config/introduction/'">
        <h2 class="h4">SIS Config</h2>
        <p>Establece los parámetros que definen las características y el nivel de la oferta académica que ofrece la Universidad.</p>
        <p><a href="docs/sis-config/introduction/">Ver más...</a></p>
      </button>
      <button class="homeContainer__card" onclick="location.href='docs/pricing/introduction/'">
        <h2 class="h4">Pricing</h2>
        <p>Conoce y mantén actualizados los importes de los productos ofrecidos por la universidad Siglo 21.</p>
        <p><a href="docs/pricing/introduction/">Ver más...</a></p>
      </button>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
